{
	"authCode": "xxxxxxxxxxxxxxxxxxxx",
    "clientId": "amzn1.application-oa2-client.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "clientSecret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
	"accessToken": "Atza|...",
	"refreshToken": "Atzr|..."
}
